* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px 0;
    font-size: 2.5em;

}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.menu-item {
    position: relative;
    padding: 2rem;
    border: 1px solid black;

}

.chicken-title,
.beef-title,
.sushi-title {

    position: absolute;
    top: .10px;
    right: 0px;
    width: 7rem;
    text-align: center;
    font-weight: bold;
    padding: 2px 2px 2px;
    font-weight: bold;
    border: 1px solid black;
    color: white;
    background-color: #4fab2b;
}

.beef-title {
    background-color: rgb(245, 73, 73)
}

.sushi-title {
    background-color: #f8d020;
}

#chicken {
    background-color: #daece2
}

#beef {
    background-color: #eed1d1;
}

#sushi {
    background-color: #ecf2cf;
}

/* Responsive Design */
@media (min-width: 992px) {
    .menu-item {
        width: 32%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-item {
        width: 48%;
    }

    #sushi {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .menu-item {
        width: 100%;
    }
}